# Logs
logs/
*.log
npm-debug.log*

# IDE & editors
.idea
.vscode

# Dependency directory
node_modules/

# Compiled and temporary files
.tmp/
out/
tsconfig.tsbuildinfo
.eslintcache

# Other files
package-lock.json
yarn.lock
