# Common files
.editorconfig
.gitattributes
.gitignore
.vsts
tsconfig.json
tslint.json
tsconfig.tsbuildinfo

# Builded files
out/benchmark
out/tests
out/**/*.map
out/**/*.spec.{d.ts,js}

# Editor directories
.vscode

# Other directories
.tmp
.benchmark
.github
fixtures
src
node_modules
typings
