name: CI

on:
  push:
    branches:
      - master
      - releases/*
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Node.js ${{ matrix.node_version }} on ${{ matrix.os }}
    if: always()
    concurrency:
      group: ${{ github.workflow }}-build-${{ matrix.os }}-${{ matrix.node_version }}-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node_version: [14, 16, 18, 20]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - name: Setup repository
        uses: actions/checkout@v3
      - name: Setup environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install root dependencies
        run: npm install
      - name: Link package dependencies
        run: npx lerna bootstrap
      - name: Compile sources
        run: npm run compile
      - name: Run hygiene checks
        run: npm run lint
      - name: Run dependencies checks
        run: npm run lint:dependencies
      - name: Run size limit check
        run: npm run lint:size
        env:
          TOOLS_SIZE_LIMIT_SKIP: '1'
      - name: Run unit tests
        run: npm run test
